.meme {
  width: 50%;
  margin-top: 2em;
  border: 2px solid black;
  background-color: #fff;
}

.meme img {
  width: 70%;
  margin: 1.5em;
}

.meme .vote {
  display: flex;
  border-top: 2px solid black;
}

.downvote,
.upvote {
  width: 50%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downvote span,
.upvote span {
  font-size: 2em;
  margin: 0 0.2em;
}

.downvote {
  color: red;
  border-left: 2px solid black;
}

.upvote {
  color: green;
}

.thumbs {
  cursor: pointer;
}
